/* * {
    border: 1px dotted red
} */

/* ----------------------------------- */
/* Section 1 */

#sect-01-cont{
    width: 100%;
    background-color: #242e38;
}

#sect-01-cont h1{
    font-size: 24px;
}

.header-title{
    color: #eef3f7;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

/* ----------------------------------- */
/* Hamburger Menu*/
.navbar-brand{
    color: whitesmoke;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}

#noHover{
    pointer-events: none;
}

#navbarSupportedContent ul li a{
    color: whitesmoke;
    font-family: 'Barlow', sans-serif;
}

#navbarSupportedContent ul li a:link {
    text-decoration: none;
}

#navbarSupportedContent ul li a:visted {
    text-decoration: none;
}

#navbarSupportedContent ul li a:hover {
    color: #64696d;
    text-decoration: none;
}

#navbarSupportedContent ul li a:active {
    text-decoration: none;
}


/* ----------------------------------- */
/* main Section 2 */

hr{
    border: 2px solid #eef3f7;
}

#horizontal-line1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #242e38;
}

#article-line2{
    margin-top: 14%;
}

#article-line1 hr{
    /* width: 100%; */
    border: 2px solid #242e38;
}

#article-line2 hr{
    border: 2px solid #242e38;
}

#sect-02-cont {
    background-color: #242e38;
}

/* ----------------------------------- */
/* Main Section 2a Card cont*/

#section-02a-cont-top{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #64696d;
}

#section-02a-cont-top1{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #64696d;
}

.section-02a-cont-top-set1{
    padding-left: 6%;
}

.section-02a-cont-top-set2{
    padding-left: 6%;
}

.git-card-combo h5, a{
    text-align: center;
}

.git-card-combo p{
    text-align: center;
}

.card-title{
    color: #232323;
}

.card-text {
    color: #232323;
}

#sect-03-blog-div h4{
    color: #232323;
}

#sect-03-cont-blog-list {
    color: #232323;
}

#notice-number p{
    color: #232323;
}

#all-number p{
    color: #232323;
}

#section-03-manage{
    color: #232323;
}

#blogger-header{
    color: #232323;
}

#blog-post-dates{
    color: #232323;
}

#my-blog-name{
    color: #232323;
}

.section-03-cont-bottom-icons{
    color: #232323;
}


/* ----------------------------------- */
/* Login Sect 3 */

.sect-03-cont-article{
    padding-top: 6%;
}

#sect-03-cont{
    background-color: #64696d;
}

#sect-03-cont-login-button{
    padding-top: .5%;
    padding-left: 5%;
    font-family: 'Barlow', sans-serif;
}

.play-button-box {
    background-color: #eef3f7
}


#sect-03-cont-login-button a {
    color: #eef3f7;
}

#sect-03-cont-login-button a:link {
    text-decoration: none;
}

#sect-03-cont-login-button a:visted {
    text-decoration: none;
}

#sect-03-cont-login-button a:hover {
    text-decoration: none;
}

#sect-03-cont-login-button a:active {
    text-decoration: none;
}

#sect-03-cont-play-button {
    padding-bottom: 2%;
}

#sect-03-cont-submit-button button{
    text-transform: uppercase;
}

.login {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

.login-button button {
    text-transform: uppercase;
}

.sect-03-about-me {
    color: #232323;
    text-transform: uppercase;
}

#password-text {
    font-family: 'Barlow', sans-serif;
}

#sect-03-cont {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eef3f7;
}

#sect-03-cont-img2 img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sect-03-cont-img3 img{
    width: 1200px;
}

#sect-03-cont-play-button {
    margin-left: 88%;
}

#sect-03-cont-play-button a{
    color: #eef3f7;
}

#sect-03-cont-play-button a:link {
    text-decoration: none;
}

#sect-03-cont-play-button a:visted {
    text-decoration: none;
}

#sect-03-cont-play-button a:hover {
    text-decoration: none;
}

#sect-03-cont-play-button a:active {
    text-decoration: none;
}


#bio-paragraph1{
    color: #232323;
    text-indent: 50px;
}

#bio-paragraph2{
    color: #232323;
    text-indent: 50px;
}

#article-line2{
    margin-top: 11%;
}

#military-pic1{
    padding-left: 23%;
}

#military-pic2{
    padding-left: 22%;
}

#sect-03-user-box{
    border-right: .2rem solid;
}

#sect-03-blog-div{
    width: 200px;
    text-transform: uppercase;
    border-right: .2rem solid;
}

#sect-03-cont-blog-list ul li a{
    color: #242e38;
}

#blog-items-right{
    padding: 10px;
    background-color: #242e38;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#blog-items-right p{
    color: #eef3f7;
}

#sect-03-cont-new-post-button a{
    color: #eef3f7;
}

#sect-03-cont-blog-list ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sect-03-cont-blog-list a:link {
    text-decoration: none;
}

#sect-03-cont-blog-list a:visted {
    text-decoration: none;
}

#sect-03-cont-blog-list a:hover {
    text-decoration: underline;
}

#sect-03-cont-blog-list a:active {
    text-decoration: underline;
}

#sect-03-blog-cont{
    margin-left: -155px;
    margin-right: 10px;
}

#blogger-header{
    font-size: 66px;
}

#my-blog-name{
    padding-right: 10px;
}

#section-03-cont-my-img img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#section-03-cont-bottom-icons div, p{
    margin-right: 20px;
    
}

#section-03-manage svg {
    margin-right: 10px;
}

#section-03-manage a{
    color: #242e38;
}

#section-03-manage a:link{
    text-decoration: none;
}

#section-03-manage a:visited{
    text-decoration: none;
}

#section-03-manage a:hover{
    text-decoration: none;
}

#section-03-manage a:active{
    text-decoration: none;
}

.form-label{
    font-family: 'Barlow', sans-serif;
}

.placeholder {
    font-family: 'Barlow', sans-serif;
}

#military-pic1 img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#military-pic2 img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#sect-03-cont-submit-button {
    margin-left: 70%;
}

.form-label{
    color: #232323;
}




/* ----------------------------------- */
/* Footer Sect 3b */

#horizontal-line2 {
    padding-top: 20px;
    background-color: #242e38;
}

#horizontal-line3 {
    padding-top: 20px;
    background-color: #242e38;
}
/* ----------------------------------- */
/* Media Queries*/

@media (max-width: 751px){ 
    #page-title {
        padding-left: 17%;
        padding-bottom: 10%;
    }

    #sect-01-cont h1{
        text-align: center;
    }
    
    #top-nav-button {
        text-align: center;
    }

    #sect-01-top-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 6%;
    }


    #top-nav-button button{
        padding-top: 2%;
    }

    #copyright h5{
        font-size: 16px;
        text-align: center;
    }

    .section-02a-cont-top-set1{
        margin-left: -24%;

    }
    
    #sect-03-cont-img1 img{
        padding-left: 20%;
    
    }
    
    #sect-03-cont-img2 img{
        padding-left: 20%;
        
    }

    #sect-04-cont div{
        justify-content: center;
    }


    #sect-03-blog-div{
        margin-top: 10%;
        margin-left: 20%;
    }

    #sect-03-blog-cont{
        margin-left: 4%;
    }

    #sect-03-blog-cont div p{
        margin-top: 5%;
    }

    #sect-03-cont form{
        padding-right: 8%;
    }

    .article-line1{
        margin-left: 1%;
    }

    #sect-03-cont-submit-button button{
        display: flex;
        flex-direction: column;
        margin-top: 55%;
    }

    .blog-post{
        margin-left:30%;
    }

    .bottom-nav-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 10%;
    }

    .about-my-port-sect{
        display: flex;
        flex-direction: column;
        padding-left: 18%;
    }

    #copyright{
        padding-top: 5%;
    }


}


@media (max-width: 758px){
    .login{
        text-align: center;
    }

    .sect-03-about-me{
        text-align: center;
    }

    #military-pic1{
        margin: 0;
        padding: 10%;
    }

    #military-pic2{
        margin: 0;
        padding: 10%;
    }

    #sect-03-cont-play-button {
        margin-left: 35%;
    }

    #section-02a-cont-top{
        padding-top: 40px;
        justify-content: space-between;
    }
    
    #section-02b-cont-bottom{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 775px){
    #top-nav-button{
        padding-left: 40%;
    }
}

@media (max-width: 851px){
    #blog-items-right {
        width: 90%;
        margin-left: 5%;
    }

    #article-line1{
        width: 90%;
        margin-left: 20%;
    }

    

}

@media (max-width: 896px){
    .section-02a-cont-top-set1{
        padding-left: 8%;
    }
    
    .section-02a-cont-top-set2{
        padding-left: 8%;
    }
}

@media (max-width: 1000px){
    #sect-03-cont-login-button {
        padding-left: 40%;
    }

    #copyright h5{
        font-size: 15px;
    }

}

@media (max-width: 1006px) { 
    #sect-01-cont h1{
        text-align: center;
        font-size: 30px;
    }
    
    #sect-01-top-nav {
        font-size: 13px;
        padding-left: 35px;
        justify-content: space-between;
    }
}

@media (max-width: 1025px){
    .header-title h1{
        font-size: 16px;
    }

    #sect-01-top-nav {
        display: flex;
        flex-direction: column;
        padding-right: 20%;
        padding-bottom: 5%;
    }

    #sect-01-top-nav a{
        font-size: 16px;
    }

    #section-02a-cont-top{
        padding-left: 30%;
    }

    #section-02a-cont-top1{
        padding-left: 30%;
    }

    #sect-03-cont{
        padding-left:8%;
    }

    #top-nav-button{
        padding-left: 2%;
    }
}

@media (max-width: 1062px){
    .section-02a-cont-top-set1{
        padding-left: 4%;
    }
    
    .section-02a-cont-top-set2{
        padding-left: 4%;
    }

}

@media (max-width: 1081px){
    #blog-items-right {
        width: 70%;
        margin-left: 30%;
    }

    #top-nav-button button{
        width: 90px;
        margin-bottom: 20px;
        
    }

    #notice-number{
        width: 70%;
        margin-left: 30%;
    }

    #article-line1{
        width: 70%;
    }

    #all-number{
        width: 70%;
        margin-left: 30%;
    }

    #section-03-manage{
        width: 70%;
        margin-top: -10%;
        margin-left: 30%;
    }

    #blog-post-dates{
        margin-left: 8%;
    }

    #blog-cont{
        width: 70%;
        margin-left: 30%;
    }

    .section-02a-cont-top-set1{
        width: 400px;
    }

    .section-02b-cont-top-set2{
        padding: 400px;
    }

    #sect-03-cont-play-button{
        
        padding-right: 8%;
        padding-bottom: 75%;
    }

    #sect-03-cont form{
        padding-right: 8%;
        padding-bottom: 5.5%;
    }

}

@media (max-width: 1124px) { 
    #sect-01-cont h1{
        padding-top: 3%;
        text-align: center;
        /* font-size: 30px; */
    }
    
    #sect-01-top-nav {
        padding-top: 2%;
        padding-left: 35px;
        /* font-size: 13px; */
        justify-content: space-between;
    }

    #top-nav-button{
        padding-top: 1%;
    }

}

@media (max-width:1179px) {
    #sect-03-cont{
        padding-top: 106px;
        padding-bottom: 106px;
    }
}

/* ----------------------------------- */
/* Bottom Nav */

.bottom-nav{
    padding-top: 3%;
    background-color: #242e38;
}

.bottom-nav-list li{
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    color: #eef3f7
}

.bottom-nav-list li a{
    color: #eef3f7
}

.bottom-nav-list li a:link {
    text-decoration: none;
}

.bottom-nav-list li a:visted {
    text-decoration: none;
}

.bottom-nav-list li a:hover {
    opacity: 50%;
    text-decoration: none;
}

.bottom-nav-list li a:active {
    text-decoration: underline;
}

/* ----------------------------------- */
/* Footer Sect 4 */

#sect-04-cont{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #242e38;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#sect-04-social-icons a, svg{
    margin-top: -1%;
    padding-left: 3px;
    font-size: 14px;
}

#sect-04-social-icons a {
    color: #eef3f7;
    opacity: 65%;
}

#sect-04-social-icons a:link {
    text-decoration: none;
}

#sect-04-social-icons a:visted {
    text-decoration: none;
}

#sect-04-social-icons a:hover {
    color: #64696d;
    text-decoration: none;
}

#sect-04-social-icons a:active {
    color: #64696d;
}

#copyright{
    color: #eef3f7;
    font-family: 'Barlow', sans-serif;
    opacity: 55%;
}

#copyright h5 {
    color: #eef3f7;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 55%;
}









