/* * {
    border: 1px dotted red
} */

/* ----------------------------------- */
/* Section 1 */

#sect-01-cont{
    width: 100%;
    background-color: #242e38;
}

#sect-01-top-nav {
    padding-top: 1.5%;
    font-family: 'Barlow', sans-serif;
}

#sect-01-top-nav a{
    color: #eef3f7;
}

#sect-01-top-nav a:link {
    text-decoration: none;
}

#sect-01-top-nav a:visted {
    text-decoration: none;
}

#sect-01-top-nav a:hover {
    color: #64696d;
    text-decoration: none;
}

#sect-01-top-nav a:active {
    color: #64696d;
    text-decoration: none;
}

#top-nav-button {
    padding-top: 1%;
    padding-left: 4%;
    font-family: 'Barlow', sans-serif;
}

#top-nav-button a{
    color: #eef3f7;
    text-decoration: none;
}

.header-title{
    color: #eef3f7;
    font-family: 'Barlow', sans-serif;
}

/* ----------------------------------- */
/* Section 1 Media Queries */

@media (max-width: 751px){ 
    #sect-01-cont h1{
        text-align: center;
    }
    
    #top-nav-button{
        padding-left: 40%;
        
    }
}

@media (max-width: 775px){
    #top-nav-button{
        padding-left: 40%;
    }
}

@media (max-width: 1006px) { 
    #sect-01-cont h1{
        text-align: center;
        font-size: 30px;
    }
    
    #sect-01-top-nav {
        font-size: 13px;
        padding-left: 35px;
        justify-content: space-between;
    }
}

@media (max-width: 1124px) { 
    #sect-01-cont h1{
        padding-top: 3%;
        text-align: center;
        font-size: 30px;
    }
    
    #sect-01-top-nav {
        padding-top: 2%;
        padding-left: 35px;
        font-size: 13px;
        justify-content: space-between;
    }

    #top-nav-button{
        padding-top: 1%;
        
        
    }
}

/* ----------------------------------- */
/* main Section 2 */

hr{
    border: 2px solid #eef3f7;
}

#horizontal-line1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #242e38;
}

#article-line2{
    margin-top: 14%;
}

#article-line1 hr{
    border: 2px solid #242e38;
}

#article-line2 hr{
    border: 2px solid #242e38;
}

#sect-02-cont {
    background-color: #242e38;
}

/* ----------------------------------- */
/* main Section 2a */

#section-02a-cont-top{
    padding-top: 40px;
    background-color: #64696d;
}

#section-02b-cont-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #64696d;
}


.section-02a-cont-top-set1{
    padding-left: 4%;
}

.section-02a-cont-top-set2{
    padding-left: 4%;
}

.git-card-combo h5, a{
    text-align: center;
}

.git-card-combo p{
    text-align: center;
}


/* ----------------------------------- */
/* Login Sect 3 */
#sect-03-cont{
    background-color: #64696d;
}

#sect-03-cont-login-button{
    padding-left: 80%;
    font-family: 'Barlow', sans-serif;
}

#sect-03-cont-login-button a{
    color: #eef3f7;
}

#sect-03-cont-login-button a:link {
    text-decoration: none;
}

#sect-03-cont-login-button a:visted {
    text-decoration: none;
}

#sect-03-cont-login-button a:hover {
    text-decoration: none;
}

#sect-03-cont-login-button a:active {
    text-decoration: none;
}

.login{
    padding-bottom: 10px;
    font-family: 'Barlow', sans-serif;
}

#password-text{
    font-family: 'Barlow', sans-serif;
}

#sect-03-cont {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eef3f7;
}

#sect-03-cont-img2 img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sect-03-cont-img3 img{
    width: 1200px;
}

#sect-03-cont-play-button {
    margin-top: 1%;
    margin-left: 88%;
}

#sect-03-cont-play-button a{
    color: #eef3f7;
}

#sect-03-cont-play-button a:link {
    text-decoration: none;
}

#sect-03-cont-play-button a:visted {
    text-decoration: none;
}

#sect-03-cont-play-button a:hover {
    text-decoration: none;
}

#sect-03-cont-play-button a:active {
    text-decoration: none;
}


#bio-paragraph1{
    text-indent: 50px;
}

#bio-paragraph2{
    text-indent: 50px;
}

#article-line2{
    margin-top: 11%;
}

#military-pic1{
    margin-top: 45%;
    padding-left: 7%;
}

#military-pic2{
    margin-top: 14%;
    padding-left: 7%;
}

#sect-03-user-box{
    border-right: .2rem solid;
}

#sect-03-blog-div{
    width: 200px;
    border-right: .2rem solid;
}

#sect-03-cont-blog-list ul li a{
    color: #242e38;
}

#blog-items-right{
    padding: 10px;
    background-color: #242e38;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#blog-items-right p{
    color: #eef3f7;
}

#sect-03-cont-new-post-button a{
    color: #eef3f7;
}

#sect-03-cont-blog-list ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sect-03-cont-blog-list a:link {
    text-decoration: none;
}

#sect-03-cont-blog-list a:visted {
    text-decoration: none;
}

#sect-03-cont-blog-list a:hover {
    text-decoration: underline;
}

#sect-03-cont-blog-list a:active {
    text-decoration: underline;
}

#sect-03-blog-cont{
    margin-left: -155px;
    margin-right: 10px;
}

#blogger-header{
    font-size: 66px;
}

#my-blog-name{
    padding-right: 10px;
}

#section-03-cont-my-img img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#section-03-cont-bottom-icons div, p{
    margin-right: 20px;
    
}

#section-03-manage svg {
    margin-right: 10px;
}

#section-03-manage a{
    color: #242e38;
}

#section-03-manage a:link{
    text-decoration: none;
}

#section-03-manage a:visited{
    text-decoration: none;
}

#section-03-manage a:hover{
    text-decoration: none;
}

#section-03-manage a:active{
    text-decoration: none;
}




/* ----------------------------------- */
/* Footer Sect 3b */

#horizontal-line2 {
    padding-top: 20px;
    background-color: #242e38;
}

/* ----------------------------------- */
/* Login Sect 3 Media Queries*/

@media (max-width: 1000px){
    #sect-03-cont-login-button {
        padding-left: 40%;
    }

    #sect-03-cont-submit-button {
        padding-left: 35%;
    }

    #copyright h5{
        font-size: 15px;
    }

}

@media (max-width: 758px){
    .login{
        text-align: center;
    }

    .sect-03-about-me{
        text-align: center;
    }

    #military-pic1{
        margin: 0;
        padding: 10%;
    }

    #military-pic2{
        margin: 0;
        padding: 10%;
    }

    #sect-03-cont-play-button {
        margin-left: 35%;
    }

    #section-02a-cont-top{
        padding-top: 40px;
        justify-content: space-between;
    }
    
    #section-02b-cont-bottom{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* ----------------------------------- */
/* Footer Sect 4 */

#sect-04-cont{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #242e38;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#sect-04-social-icons a, svg{
    margin-top: -1%;
    padding-left: 3px;
    font-size: 14px;
}

#sect-04-social-icons a {
    color: #eef3f7;
    opacity: 25%;
}

#sect-04-social-icons a:link {
    text-decoration: none;
}

#sect-04-social-icons a:visted {
    text-decoration: none;
}

#sect-04-social-icons a:hover {
    color: #64696d;
    text-decoration: none;
}

#sect-04-social-icons a:active {
    color: #64696d;
}

#copyright{
    color: #eef3f7;
    font-family: 'Barlow', sans-serif;
    opacity: 25%;
}

#copyright h5 {
    font-size: 14px;
    opacity: 55%;
}

@media (max-width: 751px){ 
    #copyright h5{
        font-size: 16px;
        text-align: center;
    }
    
    #sect-03-cont-img1 img{
        padding-left: 20%;
    
    }
    
    #sect-03-cont-img2 img{
        padding-left: 20%;
        
    }

    #sect-04-cont div{
        justify-content: center;
    }

    .section-02a-cont-top-set1{
        padding-left: 25%;
    }
    
    .section-02a-cont-top-set2{
        padding-left: 25%;
    }

    #sect-03-blog-div{
        margin-top: 10%;
        margin-left: 20%;
    }

    #sect-03-blog-cont{
        margin-left: 4%;
    }

    #sect-03-blog-cont div p{
        margin-top: 5%;
    }

    #article-line1{
        margin-left: 1%;
    }

    .blog-post{
        margin-left:30%;
    }
    
}
